<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 3</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Step 3: Eating the cereal</h2>
<p>Take your spoon, and scoop some cereal with the spoon. You should then put the spoon with the cereal on it into your mouth. You can close your mouth and pull the spoon out, taking the cereal off the spoon. Chew the cereal and swallow. Repeat until your bowl has no cereal in it. If you have milk in your bowl, you can drink the milk by putting the bowl up your mouth and drinking from the bowl as if it was a cup.</p>
<p>In the images below, this is what your bowl and spoon should look like if you prepared it correctly, and if you have eaten it correctly.</p>
<img th:src="@{/img/spoon in bowl.jpg}" alt="Spoon with cereal">
<img th:src="@{/img/empty bowl.jpg}" alt="An empty bowl with a spoon.">
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>