<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Step 2</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Step 2: Prepare your food</h2>
<p>To prepare your cereal, you pour in the cereal into your bowl. A good serving can be measured with the use of a measuring cup, but that takes too long. You should pour enough into your bowl to fill it roughly half way. If you think it's too much or too little, pour in more or pour some back into the box. Depends on what you need. As for the milk, pour enough milk so that a third of the bowl is filled with milk. You should pour it after your cereal so you don't make a mess. Take a similar descretion with the milk as you did the cereal.</p>
<p>In my case, I fill my bowl roughly halfway, though i do it a little more than half, as I eat a little more than most people.</p>
<img th:src="@{/img/cereal in the bowl.jpg}" alt="Cereal in the bowl.">
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>