<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eating Cereal</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div th:insert="fragments/_header :: header"></div>
    <h1>The 3-Step Process to Eating Cereal</h1>
    <p>Breakfast is the most important meal of the day. Cereal is a breakfast food, but not everyone knows the proper way to eat cereal. This tutorial will teach you how to eat cereal. Click on "Step 1" to get started.</p>
    <div th:insert="fragments/_footer :: footer"></div>
</body>
</html>